.example-card {
  margin: 5px;
  flex: 1 0 30vw;
  max-width: 33vw;
}

.side{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.search{
     width: 1000px;
}
